body {
    text-align: center;
}

section {
    margin: 20px;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}