<main>
    <section class="section">
        <div class="search-div">
            <!-- Form for username entry with built-in Angular form controls -->
            <form name="userForm" ng-submit="vm.getAll(vm.username)" novalidate>
                <input name="usernameInput" ng-model="vm.username" id="username-input" type="text" autocomplete="off" required/>
                <button ng-disabled="!(userForm.$valid)" type="submit" id="search-button" class="btn btn-primary">Get</button>
                <br/>
                <label ng-show="!(userForm.$valid)" id="enter-username-label" for="username-input">Please enter a GitHub username</label>
                <label ng-show="vm.errorMessage" id="error-label" for="username-input">{{vm.errorMessage}}</label>
            </form>
        </div>
    </section>
    <section class="section">
        <div ng-show="vm.userObj.login" class="username-div">
            <span class="username-title">{{vm.userObj.login}}</span>
            <br>
            <span class="followers-title"> has {{vm.userObj.followers}} followers</span>
        </div>
        <table ng-show="vm.userObj.login" class="followers-table">
            <tr ng-repeat="item in vm.followersObj">
                <td><img ng-src="{{item.avatar_url}}" alt="Description" width="200px" /></td>
            </tr>
            <tr>
                <td ng-show="vm.userObj.followers > 30"><span class="max-avatar-text">30 max avatars for this version. Stay tuned :)</span></td>
            </tr>
        </table>
    </section>
</main>