<main>
    <section class="section">
        <!-- Form for username entry with built-in Angular form controls -->
        <form name="userForm" ng-submit="vm.getAll(vm.username)" novalidate>
            <input name="usernameInput" ng-model="vm.username" id="username" type="text" autocomplete="off" required/>
            <button ng-disabled="!(userForm.$valid)" type="submit" class="btn btn-primary">Submit</button>
            <br/>
            <label ng-show="!(userForm.$valid)" for="username">Please enter a GitHub username</label>
            <label ng-show="vm.errorMessage" for="username">{{vm.errorMessage}}</label>
        </form>
    </section>
    <section class="section">
        <div ng-show="vm.userObj.login" class="username-div">
            <span class="username-title">{{vm.userObj.login}}</span>
            <br>
            <span class="followers-title"> has {{vm.userObj.followers}} followers</span>
        </div>
        <table>
<!--
            <tr>
                <td>GitHub Handle: {{vm.userObj.login}}</td>
            </tr>
            <tr>
                <td># of followers: {{vm.userObj.followers}}</td>
            </tr>
-->
            <tr ng-repeat="item in vm.followersObj">
                <td><img ng-src="{{item.avatar_url}}" alt="Description" width="200px" /></td>
            </tr>
        </table>
    </section>
</main>