<!DOCTYPE html>
<html lang="en">

<head>
    
    <!-- Meta-Information -->
    <title>GitHub Followers v1.3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Vendor: Bootstrap Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Our CSS Stylesheets-->
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body ng-app="githubFollowersApp">
    
    <!-- Our Content Goes Here -->
    <main ng-controller="appCtrl" class="container">
        <section class="section">
            <label for="username">Input any GitHub username. Hit submit to get their list of followers</label>
            <br/>
            <input ng-model="username" id="username" type="text" />
            <button ng-click="fetchAll()">Submit</button>
        </section>
        <section class="section">
            <table>
                <tr>
                    <td>GitHub Handle: {{userObj.login}}</td>
                </tr>
                <tr>
                    <td># of followers: {{userObj.followers}}</td>
                </tr>
                <tr ng-repeat="item in followersListObj">
                    <td><img ng-src="{{item.avatar_url}}" alt="Description" width="100" /></td>
                </tr>
            </table>
        </section>
    </main>
    
    <!-- Vendor: AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    <!-- Our JS Files-->
    <script src="js/index.js"></script>
</body>

</html>