<!DOCTYPE html>
<html lang="en">

<head>
    
    <!-- Meta-Information -->
    <title>GitHub Followers v1.5</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Vendor: Bootstrap Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Our CSS Stylesheets-->
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body ng-app="githubFollowersApp">
    
    <!-- Our Content Goes Here -->
    <main ng-controller="appCtrl as vm" class="container">
        <section class="section">
            <!-- Form for username entry with built-in Angular form controls -->
            <form name="userForm" ng-submit="vm.fetchAll(userForm.$valid)" novalidate>
                <input name="usernameInput" ng-model="vm.username" id="username" type="text" autocomplete="off" required/>
                <button ng-disabled="!(userForm.$valid)" type="submit" class="btn btn-primary">Submit</button>
                <br/>
                <label ng-show="!(userForm.$valid)" for="username">Please enter a GitHub username</label>
                <label ng-show="vm.errorMessage" for="username">{{vm.errorMessage}}</label>
            </form>
        </section>
        <section class="section">
            <table>
                <tr>
                    <td>GitHub Handle: {{vm.userObj.login}}</td>
                </tr>
                <tr>
                    <td># of followers: {{vm.userObj.followers}}</td>
                </tr>
                <tr ng-repeat="item in vm.followersListObj">
                    <td><img ng-src="{{item.avatar_url}}" alt="Description" width="100" /></td>
                </tr>
            </table>
        </section>
    </main>
    
    <!-- Vendor: AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    <!-- Our JS Files-->
    <script src="js/index.js"></script>
</body>

</html>