/* reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    text-align: center;
    padding-top: 70px;
}

/* getFollowers module template */

.search-section, .results-section {
    margin: calc(20px + 1vw);
}

.username-input {
    border: none;
    /* grey */
    color: #616161;
    background-color: #f5f5f5;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: calc(32px + 1vw);
    width: 74%;
    height: 75px;
    vertical-align: bottom;
}

.username-input:focus {
    outline: none;
}

.search-button {
    border: none;
/*    outline: none;*/
    border-radius: 1px;
    /* lighter green color */
    background-color: #95D061;
    /* almost white grey */
    color: #FAFAFA;
    margin-left: -3px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: calc(20px + 1vw);
    width: 24%;
    height: 75px;
}

.search-button:focus {
    outline: none;
}

.status-div {
    text-align: left;
}

.enter-username-label, .error-label {
    /* grey */
    color: #757575;
    padding-left: 5%;
}

.username-display-div {
    /* light green */
    background-color: #BCE994;
    padding: calc(25px + 1vw);
}

.username-title {
    /* grey */
    color: #616161;
    font-size: calc(50px + 1vw);
    line-height: 1.1;
}

.followers-title {
    /* medium light grey */
    color: #9E9E9E;
    font-size: 20px;
}

.followers-table {
    /* almost white grey */
    background-color: #FAFAFA;
    border-collapse: inherit;
    margin: 0 auto;
    padding-top: 10px;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    width: 100%;
}

.followers-table>th,
td {
    padding: 5px;
}

.avatar-warning-text {
    /* grey */
    color: #616161;
}

/* layout module template */

.navbar-custom {
    /* light grey */
    border-bottom: 1px solid #F5F5F5;
    /* lightest green color */
    background-color: #BCE994;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-title {
    /* shipt green color */
    color: #72B03A;
    font-size: calc(20px + 1vw);
    font-weight: 300;
}














