body {
    text-align: center;
    padding-top: 70px;
}

section {
    margin: 20px;
}

#enter-username-label {
    /* grey */
    color: #757575;
    padding-left: 20px;
}

#error-label {
    /* grey */
    color: #757575;
    padding-left: 20px;
}

#username-input {
    border: none;
    outline: none;
    /* grey */
    color: #616161;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    font-size: 3rem;
    width: 74%;
    height: 75px;
    vertical-align: bottom;
}

#search-button {
    border: none;
    outline: none;
    border-radius: 1px;
    /* lighter green color */
    background-color: #95D061;
    /* almost white grey */
    color: #FAFAFA;
    margin-left: -3px;
    padding: 20px;
    font-size: 2.5rem;
    width: 24%;
    height: 75px;
}

.followers-title {
    /* medium light grey */
    color: #9E9E9E;
    font-size: 1.75rem;
}

.followers-table {
    /* almost white grey */
    background-color: #FAFAFA;
    border-collapse: inherit;
    margin: 0 auto;
    padding-top: 10px;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    width: 100%;
}

.followers-table>th,
td {
    padding: 5px;
}

.max-avatar-text {
    /* grey */
    color: #616161;
}

.navbar-default {
    /* lightest green color */
    background-color: #BCE994;
}

.navbar-header {
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-title {
    /* shipt green color */
    color: #72B03A;
    font-size: calc(2rem + 1vw);
    font-weight: 300;
}

.search-div {
    text-align: left;
}

.username-div {
    /* light grey */
    background-color: #BCE994;
    padding: 20px;
}

.username-title {
    /* grey */
    color: #616161;
    font-size: 5rem;
    line-height: 1.1;
}